main{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom, var(--cor-header), var(--cor-fundo), white);
    min-height: 100vh;
    min-width: 100vw;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    height: 550px;
    border-radius: 30px;
    background-color: #cef2e12a;
    box-shadow: 1px 1px 3px 2px #0fd15d25;
    padding-bottom: 10px;
}

.card h1{
    color: var(--cor-textos);
    font-family: var(--fonte-titulo);
    padding: 20px 0;
}

.card h1 a{
    text-decoration: none;
    color: var(--cor-textos);
}

.card h1 a:hover{
    color: #0B9943;
    text-decoration: underline;
    transition: all .3s;
}

.card h2{
    color: #0B9943;
    font-family: var(--fonte-subtitulo);
    padding-bottom: 5%;
    padding-right: 3%;
    padding-left: 3%;
}

div .error h3{
    font-size: 1.5rem;
    font-family: var(--fonte-subtitulo);
    color: red;
}

form{
    width: 70%;
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form label{
    color: var(--cor-textos);
    font-family: var(--fonte-titulo);
    font-size: 1.2rem;
    margin-bottom: 10px;
    align-self: flex-start;
}

form input{
    color: var(--cor-textos);
    font-size: 1.2rem;
    width: 100%;
    height: 50px;
    padding: 0 20px;
    border-radius: 10px;
    border: none;
    margin-bottom: 5%;
}

form input:focus{
    outline: 1px solid #0FD15D;
    box-shadow: 1px 1px 3px 2px #0fd15d25;
}

div .success{
    color: green;
    font-size: 1.5rem;
    margin-bottom: 3%;
    margin-right: 3%;
    margin-left: 3%;
}

div .error{
    color: red;
    margin-bottom: 10px;
    font-size: 1.2rem;
}

form button{
    margin-top: 10%;
    width: 80%;
    height: 50px;
    padding: 10px;
    font-family: var(--fonte-titulo);
    font-size: 1.2rem;
    background-color: var(--cor-header);
    border: none;
    color: white;
    border-radius: 10px;
}

form button:hover{
    background-color: #39A774;
}

@media screen and (max-width: 600px) {
    .card{
        width: 90%;
    }

    .card h1 a{
        text-decoration: underline;
    }

    .card h2{
        text-align: center;
    }

    .card p{
        text-align: center;
        padding: 3%;
    }

    form{
        width: 90%;
    }

    form button{
        width: 100%;
    }

}

@media screen and (min-width: 1800px) {
    .card{
        height: 90%;
    }
}