<main>
    <div class="card">
        <h1><a routerLink="/">Dinheiro Em Dia</a></h1>
        <h2>Redefina sua senha</h2>
        <div *ngIf="errorMessages.length > 0" class="error-message">
            <div class="error" *ngFor="let errorMessage of errorMessages"><h3>{{errorMessage}}</h3></div>
        </div>
        <form [formGroup]="formRedefinePassword" (ngSubmit)="submitForm()">
            <label for="ipassword">Sua nova senha</label>
            <input type="password" name="password" id="ipassword" formControlName="password" [ngClass]="{'invalid': formRedefinePassword.get('password')?.invalid && formRedefinePassword.get('password')?.touched}">
            <div *ngIf="formRedefinePassword.get('password')?.invalid && formRedefinePassword.get('password')?.touched">
                <div class="error" *ngIf="formRedefinePassword.get('password')?.hasError('required')">A senha é obrigatória.</div>
                <div class="error" *ngIf="formRedefinePassword.get('password')?.hasError('maxlength')">A senha deve ter no máximo 255 caracteres.</div>
                <div class="error" *ngIf="formRedefinePassword.get('password')?.hasError('minlength')">A senha deve ter no mínimo 8 caracteres.</div>
                <div class="error" *ngIf="formRedefinePassword.get('password')?.hasError('pattern')">Senha inválida.</div>
            </div>
            <label for="iRepeatPassword">Repetir senha</label>
            <input type="password" name="repeatPassword" id="iRepeatPassword" formControlName="repeatPassword" [ngClass]="{'invalid': formRedefinePassword.get('repeatPassword')?.invalid && formRedefinePassword.get('repeatPassword')?.touched}">
            <div *ngIf="formRedefinePassword.get('repeatPassword')?.invalid && formRedefinePassword.get('repeatPassword')?.touched">
                <div class="error" *ngIf="formRedefinePassword.get('repeatPassword')?.hasError('required')">Repetir a senha é obrigatório.</div>
                <div class="error" *ngIf="formRedefinePassword.get('repeatPassword')?.hasError('maxlength')">A senha deve ter no máximo 255 caracteres.</div>
                <div class="error" *ngIf="formRedefinePassword.get('repeatPassword')?.hasError('minlength')">A senha deve ter no mínimo 8 caracteres.</div>
                <div class="error" *ngIf="formRedefinePassword.get('repeatPassword')?.hasError('pattern')">Senha inválida.</div>
            </div>
            <div *ngIf="formRedefinePassword.hasError('passwordMismatch') && formRedefinePassword.get('repeatPassword')?.touched">
                <div class="error">As senhas não coincidem.</div>
              </div>
            <button type="submit" [disabled]="!formRedefinePassword.valid"  [ngStyle]="{'background-color': formRedefinePassword.valid ? '' : '#CCCCCC', 'margin-top': formRedefinePassword.valid ? '' : '5%',
            'transition': 'background-color 0.3s, margin-top 0.3s'}">Enviar</button>
        </form>
    </div>
</main>