header{
    width: 100vw;
    justify-content: space-between;
    align-items: center;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3%;
}

h1 span{
    color: var(--cor-header);
}

.images{
    display: flex;
    margin-top: 3%;
}

.card{
    border: 1px solid springgreen;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 3px 2px 4px 0px var(--cor-header);
    margin: 0 2%;
}

.card:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: all .3s;
}

.card-title, .card-text{
    text-align: center;
}