<header>
    <img src="assets/logo-no-background.png" alt="Logo Dinheiro em Dia">
    <nav>
        <a href="#">Cadastre-se</a>
        <a href="#">Login</a>
    </nav>
</header>
<main>
    <section class="introduction">
        <div class="card">
            <h1>Dinheiro Em Dia</h1>
            <p class="slogan">Sua jornada para a liberdade financeira começa aqui!</p>
            <p>Bem-vindo ao Dinheiro Em Dia, o seu parceiro confiável para o planejamento financeiro e o controle
                das suas finanças.</p>
            <p>Nossa missão é ajudá-lo a alcançar a estabilidade financeira e atingir seus objetivos de maneira
                inteligente e sustentável.</p>
            <img src="assets/planning.png" alt="">
        </div>
        <div class="image-money">
            <h1>Planeje, controle, conquiste: mantenha seu dinheiro em dia!</h1>
            <img src="assets/control.png" alt="">
        </div>
    </section>
    <section class="principal">
        <h1>Nossos Diferenciais</h1>
        <div class="differentials">
            <h2>Simples de usar</h2>
            <p>Nossa plataforma intuitiva e fácil de usar permite que você crie e gerencie suas finanças.</p>
        </div>
        <div class="differentials">
            <h2>Dashboard</h2>
            <p>Tenha acesso às análises dos seus gastos por período e pelas categorias mais relevantes.</p>
        </div>
        <div class="differentials">
            <h2>Previsibilidade</h2>
            <p>Crie seu planejamento financeiro, definindo limites de gastos e alertas.</p>
        </div>
        <div class="differentials">
            <h2>Objetivos</h2>
            <p>Seja qual for o seu sonho, o Dinheiro Em Dia ajuda a planejá-lo. Defina e acompanhe seus objetivos na
                plataforma.</p>
        </div>
        <div class="differentials">
            <h2>Segurança e Privacidade</h2>
            <p>No Dinheiro Em Dia, a segurança e a privacidade dos nossos usuários são nossa prioridade.</p>
        </div>
        <div class="differentials">
            <h2>Histórico</h2>
            <p>Tenha toda a sua vida financeira consolidada em um só lugar e consulte suas transações com diversos
                filtros personalizados.</p>
        </div>
    </section>
    <section class="finalization">
        <h1>Comece Agora Sua Jornada Financeira!</h1>
        <p>Não espere mais! Comece agora mesmo sua jornada rumo a uma vida financeira mais equilibrada e próspera.
        </p>
        <p>Lembre-se de que pequenos passos podem levar a grandes conquistas.</p>
        <p>Estamos aqui para ajudá-lo em cada etapa dessa jornada.</p>
        <div>
            <img src="assets/review.png" alt="">
        </div>
    </section>
</main>
<footer>
    <p>Desenvolvido Por Raphael</p>
</footer>