<main>
    <div class="card mb-3">
        <div class="content row g-0">
            <div class="image col-md-4">
                <img src="../../../assets/error-404.png" alt="Imagem de erro 404">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h1 class="card-title">A página que você está procurando não existe.</h1>
                    <p class="card-text">Você pode ter digitado incorretamente o endereço ou a página pode ter sido
                        removida</p>
                    <button type="button" class="btn btn-outline-dark" routerLink="/home">Voltar para a página
                        inicial</button>
                </div>
            </div>
        </div>
    </div>
</main>